.navbar {
  background-color: #333333;
  padding: 1.5%;
}

.navbar .myHamburger {
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: none;
}

.navbar {
  display: flex;
}

.navbar li,
.navbar li form {
  margin: 1%;
}

.navbar li form {
  position: absolute;
  margin-top: -0.7vh;
  float: right;
  right: 5%;
}
.navbar li form button {
  position: relative;
  border: 1px solid #04aa6d;
  color: #04aa6d;
  text-decoration: none;
  padding: 10px;
  background-color: #333333;
  text-align: center;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  margin-left: 7px;
  border-radius: 3px;
}
.navbar li form button:hover {
  background-color: #04aa6d;
  color: white;
}
.navbar li form button:active {
  background-color: #04aa6d;
  color: white;

  outline: none;
}
.navbar li form input {
  height: 30px;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navTitle {
  font-size: 1.2em;
  color: white;
}

.dropDown {
  display: inline-block;
  position: relative;
}

.dropBtn {
  border: none;
  background-color: #333333;
  color: rgb(187, 185, 185);
}

.dropdownLinks {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
}
.dropDown:hover .dropdownLinks {
  display: block;
}

.navbar li a {
  text-decoration: none;
  color: rgb(187, 185, 185);
}
.navbar li a:active {
  color: white;
}
#disBtn {
  border: none;
  background-color: #333333;
  color: rgb(143, 133, 133);
}

@media screen and (max-width: 768px) {
  .navbar li {
    display: none;
  }
  #navTitle {
    display: block;
    margin-right: auto;
  }
  .navbar {
    justify-content: flex-end;
  }
  .navbar .myHamburger {
    display: inline;
    margin-top: 17%;
    margin-right: 2vw;
  }
}
